<h1>Baby {{surname}} is otw!</h1>

<div class="bar">
  <div class="progress" style="width: {{babyPercent}}%;" data-width="{{babyPercent}}%">
    <div class="baby">
      <div class="baby__glee">
        <span class="baby__glee__mark"></span>
        <span class="baby__glee__mark"></span>
        <span class="baby__glee__mark"></span>
      </div>
    </div>
  </div>
</div>

<div class="deets">

</div>
