@import url(https://fonts.googleapis.com/css?family=Cantata+One|Roboto|Lato);
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  background: white;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #303635;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  padding-top: 8em;
  text-align: center;
  background-image: url(images/background.png);
  background-size: 60%;
}

body:after {
  content: "";
  position: fixed;
  top: 2%;
  left: 1%;
  width: 98%;
  height: 96%;
  border: 5px solid #EFFF00;
  z-index: -1;
}

h1 {
  display: inline-block;
  margin-bottom: 0;
  cursor: default;
  font-family: "Cantata One", "Helvetica Neue", sans-serif;
  color: #1B1F1F;
  font-size: 54px;
  color: #1A1A1A;
  background: -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#fff, #fff), -webkit-linear-gradient(#FF9F00, #FF9F00);
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#FF9F00, #FF9F00);
  background-size: 0.05em 9px, 0.05em 13px, 22px 4px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: .03em 0 #fff, -.03em 0 #fff, 0 .03em #fff, 0 -.03em #fff, .06em 0 #fff, -.06em 0 #fff, .09em 0 #fff, -.09em 0 #fff, .1em 0 #fff, -.1em 0 #fff, 0.12em 0 #fff, -.12em 0 #fff;
  background-position: 0 97%, 100% 97%, 0 97%;
}

.bar {
  max-width: 80%;
  height: 96px;
  margin: 80px auto;
  position: relative;
  border: 5px solid #10dda4;
  border-radius: 3px;
  font-family: "Cantata One", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #FF9F00;
}

@-webkit-keyframes loop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -120px 60px;
  }
}

@-moz-keyframes loop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -120px 60px;
  }
}

@keyframes loop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -120px 60px;
  }
}

.progress {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #8FF7DA;
  background-size: 60px 60px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
  -webkit-animation: loop 1.5s linear infinite;
  -moz-animation: loop 1.5s linear infinite;
  animation: loop 1.5s linear infinite;
}

.progress:after {
  position: absolute;
  right: -50px;
  width: 100px;
  text-align: center;
  bottom: -2.5em;
  content: attr(data-width);
}

.baby {
  position: absolute;
  right: 0;
  top: -30%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  height: 104px;
  width: 78px;
  background-image: url("images/baby.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .baby {
    background-image: url("images/baby_2x.png");
    background-size: 78px 104px;
  }
}

.baby:after {
  content: "";
  height: 14px;
  width: 27px;
  background-image: url(images/baby-glee.svg);
}

.baby__glee {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 22px;
  height: 35px;
  margin-left: -12px;
}

@-webkit-keyframes mark {
  0% {
    top: 0;
  }
  45% {
    top: 0;
  }
  50% {
    top: 110%;
  }
  55% {
    top: 0;
  }
  100% {
    top: 5%;
  }
}

@-moz-keyframes mark {
  0% {
    top: 0;
  }
  45% {
    top: 0;
  }
  50% {
    top: 110%;
  }
  55% {
    top: 0;
  }
  100% {
    top: 5%;
  }
}

@keyframes mark {
  0% {
    top: 0;
  }
  45% {
    top: 0;
  }
  50% {
    top: 110%;
  }
  55% {
    top: 0;
  }
  100% {
    top: 5%;
  }
}

.baby__glee__mark {
  display: block;
  position: absolute;
  width: 4px;
  height: 14px;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  overflow: hidden;
}

.baby__glee__mark:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FF9F00;
  -webkit-animation: mark 3s ease infinite;
  -moz-animation: mark 3s ease infinite;
  animation: mark 3s ease infinite;
}

.baby__glee__mark:nth-child(1) {
  left: 0;
  margin-left: 0;
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  transform: rotate(-24deg);
}

.baby__glee__mark:nth-child(2) {
  left: 50%;
  bottom: 2px;
  height: 18px;
}

.baby__glee__mark:nth-child(2):after {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.baby__glee__mark:nth-child(3) {
  left: 100%;
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg);
}

.baby__glee__mark:nth-child(3):after {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
